@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes flash-message {
    0% {
        opacity: 100;
    } 50% {
         opacity: 50%;
    } 100% {
        opacity: 0;
        display: none;
    }
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    70% {
        transform: scale(0.95);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pop-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    30% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(0.3);
        opacity: 0;
    }
}

.flash-message-animation {
    animation: flash-message 3s forwards ease-out 0.500s;
}

.hidden-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pop-in {
    animation: pop 0.3s cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}

.pop-out {
    animation: pop-out 0.3s cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}